* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid black;
    width: 800px;
    height: 600px;
}

.header {
    margin-right: auto;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}